@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #040405;
}

h1 {
    font-size: 8rem;
    color: #fff;
}

h2 {
    font-size: 3rem;
    color: #fff;
}

p {
    font-size: 1.6rem;
    color: #fff;
}

a {
    text-decoration: none;
}

section {
    padding: 10rem;
}
/*End of General*/
/*Side Navigation*/
.container {
    width: 25rem;
    height: 100vh;
    background-color: #111;
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

i {
    color: #fff;
    font-size: 3rem;
}

#menuBtn {
    display: flex;
    justify-content: end;
    padding: 2rem 1rem;    
}

#menuBtn .fa-solid {
    padding: 0 1rem;
    min-width: 6rem;
    max-width: 6rem;
    flex: 1;
    cursor: pointer;
    scale:1;
    
}

#menuBtn .fa-solid:hover {
    scale: 1.2;
    transition: .3s;
}

.menuOption {
    height: 6rem;
    border-bottom: .5px solid #2C272F;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
}

.menuOption:hover {
    padding-left: 1.5rem; 
    background-color: #2C272F;
}

.menuOption .fa-solid {
    flex: 1;
    min-width: 6rem;
    max-width: 6rem;
}

.menuOption .text {
    
    flex: 5;
    opacity: 1;
    transition: 1.5s;
}

.content, .hidden {
    width: 6rem;
}

.hidden .menuOption .text{
    opacity: 0;
    transition: .3s;
    color: #040405;
}

.hidden #menuBtn i {
    transform: rotate(-180deg);
    transition: .3s;
    
}
/*End Side Navigation*/
/*Main Content*/
#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 6rem);
    min-height: 100vh;
    margin-left: 6rem;
    background-color: #040405;
    z-index: 0;
}
/*End of Main Content*/
/*Home*/
#home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    max-width: 90rem;
    text-align: center;
}

.btn {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    background-color: #0577BE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    padding: 1rem 1rem;
    margin-top: 2rem;
    border-radius: .4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: 0.5s;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn i{
    font-size: 2rem;
}
/*End of Home*/
/*About Me*/
.aboutMeBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.aboutMeBox .divAboutMe {
    position: relative;
    width: 48%;
}

.titleText {
    color: #FFF;
    font-size: 3em;
    font-weight:600;
}

.titleText span {
    color: #482EF3;
    font-weight: 700;
    font-size: 4rem;
}

.aboutMeBox .divAboutMe p {
    text-align: justify;
}

.aboutMeBox .divAboutMe .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    
}

.aboutMeBox .divAboutMe .imgBox img {
    position: relative;
    width: auto;
    height: auto;
    margin: 0.5rem;
}

/*End of About Me*/
/*Projects*/
#projects {
    margin: 4rem auto;
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#projects ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#projects ul li {
    list-style: none;
    background-color: #482EF3;
    padding: .7rem 2rem;
    margin: .5rem;
    letter-spacing: .2rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

#projects ul li span {
    font-size: 2rem;
    color: #fff;
}

#projects ul li.active {
    background-color: #0D0D3F;
}

.projectBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectBox .itemBox {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: .5rem;
    /*display:block;*/
}

.projectBox .itemBox.hide {
    display: none;
}

.projectBox .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*height: auto;*/
    object-fit: cover;
    border-radius: 1rem;
}

.projectBox .itemBox .imgOverlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #010326;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
  }

  .projectBox .itemBox:hover .imgOverlay {
    bottom: 0;
    height: 100%;
    /*height:30rem;*/
  }

  .projectBox .itemBox .imgOverlay h4 {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
  }
  .projectBox .itemBox .imgOverlay p {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
  .projectBox .itemBox .imgOverlay .btnBox {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .projectBox .itemBox .imgOverlay .btn {
    width: 12rem;
    font-size: 1rem;
  }
/*End of Projects*/
/*Skills*/
#skills .aboutMeBox {
    flex-direction: row;
}

.titleSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#skills .aboutMeBox .divAboutMe {
    /* position: relative; */
    width: 100%;
}

.skillIcons {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.skillIcons i {
    font-size: 10rem;
    color: #0577BE;
    padding: 2rem;
}
/*End of Skills*/
/*Footer*/
footer {
    width: 100%;
}

footer div {
    padding: 2rem 10rem;
    background-color: #111;
    display: flex;
    justify-content: center;
    
}

footer div p {
    color:#FFF;
    font-size: 1rem;
}
/*End of Footer*/
/*Responsive Design*/

    @media (min-width: 1500px) {
       #aboutMe {
        max-width: 140rem;
       }
       #projects {
        max-width: 140rem;
       }
       #skills {
        max-width: 140rem;
       }
    }

    @media (max-width: 1024px) {
        .aboutMeBox {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .aboutMeBox .divAboutMe {
            width: 100%;
        }

        .titleText {
            text-align: center;
        }

        .aboutMeBox .divAboutMe .imgBox {
            display: flex;
            justify-content: center;
        }
    }
    @media (max-width: 768px) {

        /*General*/
        section {
            padding: 6rem;
        }
        /*End of General*/
        /*Home*/
        #content {
            padding: 0 6rem;
        }

        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 3rem;
            margin-top: -1rem;
        }

        p {
            font-size: 1.8rem;
        }
        /*End of Home*/
        /*About Me*/
        .aboutMeBox {
            flex-direction: column-reverse;
        }

        .aboutMeBox .divAboutMe {
            width: 100%;
        }

        .titleText {
            font-size: 4em;
            margin-bottom: 1rem;
            text-align: center;
         }

         .titleText span {
            font-size: 5rem;
        }

        .aboutMeBox .divAboutMe .imgBox img {
            position: relative;
            height: auto;
            padding-bottom: 4rem
        }
    }
        /*End of About Me*/
        /*Projects*/
        .titleSection p {
            text-align: center;
        }
        /*End of Projects*/
        /*Skills*/
        #skills .aboutMeBox {
            flex-direction: column;
        }

        #skills .aboutMeBox .divAboutMe {
            padding-bottom: 2rem;
        }
        /*End of Skill*/

    @media (max-width: 425px) {
            /*General*/
            section {
                padding: 1rem 2rem;
            }
            /*End ofGeneral*/
            /*Home*/
            #content {
                padding: 0 2rem;
            }
            h1 {
                font-size: 4.5rem;
            }

            h2 {
                font-size: 2rem;
                margin-top: 0;
            }

            p {
                font-size: 1.8rem;
                margin-top: 1rem;
            }

            .btn {
                margin-top: 4rem;
            }
            /*End of Home*/
            /*About*/
            .titleText {
                font-size: 3.4rem;
            }
            
            .aboutMeBox .divAboutMe p {
                /* text-align: justify; */
                padding: 0 1rem;
            }

            .aboutMeBox .divAboutMe .imgBox img {
                width: 100%;
            }
        
            /*End of About*/
        @media (max-width: 375px) {
            /*About Me*/
            .titleText {
                font-size: 2.5rem;
            }
            /*End of About Me*/
            /*Projects*/
            /*End of Projects*/
            .projectBox .itemBox .imgOverlay h4 {
                font-size: 3rem;
            }
            .projectBox .itemBox .imgOverlay p {
                font-size: 1.8rem;
                padding: 1rem 1rem;
                text-align: center;
            }
            /*Footer*/
            footer div {
                padding: 2rem 5rem;
            }
            /*End of Footer*/
        }
        @media (max-width: 320px){
            h1 {
                font-size: 4rem;
                line-height: 5rem;
            }

            .projectBox .itemBox .imgOverlay p {
                margin-top: 0;
            }

            .projectBox .itemBox .imgOverlay .btn {
                width: 8rem;
                margin-top: 0;
            }
        }

    }
/*End of Responsive Design*/