@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #040405;
}

/*End of General*/
/*Side Navigation*/
.container {
    width: 25rem;
    height: 100vh;
    background-color: #111;
    transition: .5s;
   
}

.text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

i {
    color: #fff;
    font-size: 3rem;
}

#menuBtn {
    display: flex;
    justify-content: end;
    padding: 2rem 1rem;    
}

#menuBtn .fa-solid {
    padding: 0 1rem;
    min-width: 6rem;
    max-width: 6rem;
    flex: 1;
    cursor: pointer;
    scale:1;
    
}

#menuBtn .fa-solid:hover {
    scale: 1.2;
    transition: .3s;
}

.menuOption {
    height: 6rem;
    border-bottom: .5px solid #2C272F;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
}

.menuOption:hover {
    padding-left: 1.5rem; 
    background-color: #2C272F;
}

.menuOption .fa-solid {
    flex: 1;
    min-width: 6rem;
    max-width: 6rem;
}

.menuOption .text {
    
    flex: 5;
    opacity: 1;
    transition: 1.5s;
}

.content, .hidden {
    width: 6rem;
}

.hidden .menuOption .text{
    opacity: 0;
    transition: .3s;
    color: #040405;
}

.hidden #menuBtn i {
    transform: rotate(-180deg);
    transition: .3s;
    
}
/*End of Side Navigation*/


